---
const currentYear = new Date().getFullYear()
---

<footer
  class="m-4 mt-16 mb-10 w-full mx-auto container lg:max-w-5xl md:max-w-3xl flex justify-center"
>
  <div
    class="w-full py-4 border-t rounded-lg border-slate-200/70 dark:border-slate-800 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >© {currentYear}
      <a href="https://github.com/vpablo89" class="hover:underline">Pablo Vera</a>.
      Todos los derechos reservados
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="/#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
      </li>
      <li>
        <a href="/#contacto" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
