---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} mb-12 scroll-m-24 w-full mx-auto container lg:max-w-5xl md:max-w-3xl`}
>
  <slot />
</section>
